[core]
    excludesfile = /Users/stephan/.gitignore_global
[user]
    name = neurotronix
    email = github@mauermann.io
	signingkey = 4ACE7B717BCBF159
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git lfs clean %f	
    smudge = git lfs smudge %f	
    required = true
[push]
   default = simple
