[core]
    excludesfile = ~/.gitignore_global
[filter "lfs"]
    clean = git lfs clean %f	
    smudge = git lfs smudge %f	
    required = true
[push]
    default = simple
[init]
	  defaultBranch = main
[includeIf "gitdir:~/projects/github.com/"]
    path = ~/projects/github.com/.gitconfig
[includeIf "gitdir:~/projects/git.deepl.dev/"]
    path = ~/projects/git.deepl.dev/.gitconfig
[includeIf "gitdir:~/playground/"]
    path = ~/projects/git.deepl.dev/.gitconfig
