[core]
    excludesfile = /Users/stephan/.gitignore_global
[user]
    name = smauermann
    email = github@mauermann.io
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git lfs clean %f	
    smudge = git lfs smudge %f	
    required = true
[push]
   default = simple
[init]
	defaultBranch = main
