#!/usr/bin/env bash

# Navigate
alias ..='cd ..'
alias -- ='cd -'

# Shortcuts
alias g='git'
alias vim='/Applications/MacVim.app/Contents/MacOS/Vim'
alias sbash='source ~/.bash_profile'
alias htop='sudo htop'

# ls
alias ls='ls -Gp'
alias lsa='ls -AF'

# Enable sudo for aliases
alias sudo='sudo '

# Updata macOS Software, Homebrew
alias osup=' \
    sudo softwareupdate -i -a; \
    mas upgrade; \
    brew -v update; \
    brew upgrade --force-bottle --cleanup; \
    brew cleanup; brew prune; \
    brew cask upgrade; brew cask cleanup \
    \
'
alias brewup='brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune'

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
alias emptytrash=' \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/*; \
    \
'


